<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>Nombre Cuenta</label>
      <input
        type="text"
        class="form-control"
        #accountName>
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="activa">Activa</option>
        <option value="inactiva">Inactiva</option>
        <option value="oculta">Oculta</option>
      </select>
    </div>
    <button
      class="btn btn-primary"
      (click)="onCreateAccount(accountName.value, status.value)">
      Agregar Cuenta
    </button>
  </div>
</div>

