<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <ul>
        <li *ngFor="let user of users">
          <a
            [routerLink]="['/users', user.id, user.name]"
            href="#"
            class="list-group-item"
          >
            {{ user.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--<app-user></app-user>-->
    <router-outlet></router-outlet>
  </div>
</div>


