<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h5>{{ account.name }}</h5>
    <hr>
    <p>Esta cuenta está {{ account.status }}</p>
    <button class="btn btn-default" (click)="onSetTo('activa')">Setear como 'activa'</button>
    <button class="btn btn-default" (click)="onSetTo('inactiva')">Setear como 'inactiva'</button>
    <button class="btn btn-default" (click)="onSetTo('desconocida')">Setear como 'desconocida'</button>
  </div>
</div>

