<div class="row">
  <div class="col-xs-12">
    <p>Agregar nuevo Servidor o Emulación!</p>
    <label>Nombre Servidor</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <input
      type="text"
      class="form-control"
      #serverNameInput>
    <label>Contenido Servidor</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input
      type="text"
      class="form-control"
      #serverContentInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Agregar Servidor</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Agregar Servidor Emulado</button>
  </div>
</div>
