<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mis Servidores</h2>
      <button class="btn btn-primary" (click)="onAddServer()">Agregar Servidor</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers; let i = index"
          (click)="onRemoveServer(i)">{{ server }}</li>
      </ul>
    </div>
  </div>
</div>
